<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org>">

  <head>
    <title>Delete Item</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container mt-4">
      <div class="col-sm-6">
        <form th:action="@{/save}" th:oject=${persona} method="POST">
          <div class="card">
            <div class="card-header">
              <h3>
                Are you sure you want to delete this item?
              </h3>
            </div>
            <div class="card-footer">
            <input type="submit" value="Save" class="btn btn-success">
            <input type="submit" value="Cancel" class="btn btn-success">
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>

</html>